@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.text-bg-gradient {
  background: linear-gradient(to right, #ccf381 30%, #ff5943 60%, #ccf381 100%);
  -webkit-background-clip: text;
  color: transparent;
}
