@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.text-bg-gradient {
  background: linear-gradient(to right, #ccf381 30%, #ff5943 60%, #ccf381 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.menu-icon::before {
  content: '';
  padding: 4px;
  max-width: 4px;
  height: 4px;
  transform: rotate(45deg);
  width: 100%;
  height: 4px;
  border: 1px solid #fcfdaf;
  margin: 0px 8px;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/InterTight-VariableFont_wght.ttf') format('ttf');
}
